body {
    font-family: Lato;
}

.main-component {
    display: block;
    margin: 0px auto;
    width: 1280px;
    height: 800px;
    background-color: aquamarine;
}

.heading {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: auto;
}


/* Navbar container */
.navbar {
    margin: auto;
    overflow: hidden;
    background-color: #333;
    
  }
  .topnav-centered{
      padding-left: 520px;
 
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .active {
    background-color: #14b1ab;
    color: white;
  }





.training-options {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 5px;
}

.training-style1 {
    text-align: center;
    padding-left: 350px;
}

.training-style2 {
    text-align: center;
    padding-right: 350px;
    
}
.trainin-style2-center{
padding-left:480px;
}

.pump-container {
    margin: 0px auto;
    height: 70px;

    width: 30%;

}

.super-pump {
    background-color: rgb(255, 187, 0);
    width: 65%;
    margin: auto;
    padding-top: 5px;
    margin-top: 10px;
    border: solid;
    border-radius: 5px;
}

.pump-img {
    padding-left: 20px;
    height: 50px;
    float: left;
    padding-right: 5px;
}

.main-container {
    padding-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px auto 150px 150px 150px 150px;
    background-color: #2196F3;
    padding: 2px;
    grid-gap: 5px;

}

.grid-item {

    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;

}

.ex {
    text-align: left;
    padding-left: 20px;
}

.btn {
    height: 50px;
    width: 90px;
    border-radius: 5px;

}

.btn-container {
    margin: 10px auto;

}

.random-img {
    height: 20px;
    width: 20px;
}

.bottom-container {
    height: 400px;
    display: block;
    width: 100%;

    margin: 30px auto;
    background-color: tan;

}

.image-container {
    padding-top: 30px;
    padding-left: 300px;
}

.exercise-image {

    width: 40%;
    float: left;
}

.exercise-title {
    font-size: 24px;
    float: right;
    width: 40%;
    padding-right: 120px;
    padding-top: 30px;


}

.exercise-text {
    font-size: 16px;
    float: right;
    width: 40%;
    padding-right: 120px;

    height: 180px;
}